@media (max-width: 575.98px) {
  .about-left {
    position: absolute;
    bottom: -33px;
    right: 20px;
    width: 270px;
  }

  .btn3 {
    left: 155px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .about-left {
    position: absolute;
    bottom: -33px;
    right: 20px;
    width: 334px;
  }

  .btn3 {
    left: 155px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .about-left {
    position: absolute;
    bottom: -40px;
    right: 20px;
    width: 485px;
  }

  .btn3 {
    left: 12px;
    padding: 10px 20px;
  }

  .btn4 {
    padding: 10px 20px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .about-left {
    position: absolute;
    bottom: -55px;
    right: 20px;
    width: 610px;
  }

  .btn3 {
    left: 6px;
  }
}

@media (min-width: 1200px) {
}
